# Points the web app at your running backend (see the backend's README).
VITE_API_URL= https://e339-154-159-238-162.ngrok-free.app/api
VITE_SOCKET_URL=https://d2e4-154-159-252-132.ngrok-free.app
VITE_BACKEND_URL=http://127.0.0.1:8001
